@font-face {
  font-family: 'Zpix';
  src: url('./fonts/Zpix.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+4E00-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700-2B73F, U+2B740-2B81F, U+2B820-2CEAF, U+F900-FAFF, U+2F800-2FA1F;
}
@font-face {
  font-family: 'PS2P';
  src: url('./fonts/PS2P.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00FF;
}
:root {
  --px-font-family: "PS2P", "Zpix", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
html {
  cursor: var(--px-cursor-base-src), auto;
}
/* font */
@property --px-font-size-base {
  syntax: "<length>";
  initial-value: 14px;
  inherits: false;
}
@property --px-font-size-small {
  syntax: "<length>";
  initial-value: 12px;
  inherits: false;
}
@property --px-font-weight-base {
  syntax: "<number>";
  initial-value: 400;
  inherits: false;
}
/* background-color */
@property --px-bg-color-base {
  syntax: "<color>";
  initial-value: #fff;
  inherits: false;
}
@property --px-bg-color-primary {
  syntax: "<color>";
  initial-value: #209cee;
  inherits: false;
}
@property --px-bg-color-success {
  syntax: "<color>";
  initial-value: #92cc41;
  inherits: false;
}
@property --px-bg-color-warning {
  syntax: "<color>";
  initial-value: #f7d51d;
  inherits: false;
}
@property --px-bg-color-danger {
  syntax: "<color>";
  initial-value: #e76e55;
  inherits: false;
}
@property --px-bg-color-disabled {
  syntax: "<color>";
  initial-value: #ccc;
  inherits: false;
}
/* lignt-color */
@property --px-light-color-primary {
  syntax: "<color>";
  initial-value: #ecf5ff;
  inherits: false;
}
@property --px-light-color-success {
  syntax: "<color>";
  initial-value: #f0f9eb;
  inherits: false;
}
@property --px-light-color-warning {
  syntax: "<color>";
  initial-value: #fdf6ec;
  inherits: false;
}
@property --px-light-color-danger {
  syntax: "<color>";
  initial-value: #faf0f0;
  inherits: false;
}
/* light-color-2 */
@property --px-light-color-primary-2 {
  syntax: "<color>";
  initial-value: #a0cfff;
  inherits: false;
}
@property --px-light-color-success-2 {
  syntax: "<color>";
  initial-value: #b3e19d;
  inherits: false;
}
@property --px-light-color-warning-2 {
  syntax: "<color>";
  initial-value: #f3d19e;
  inherits: false;
}
@property --px-light-color-danger-2 {
  syntax: "<color>";
  initial-value: #fab6b6;
  inherits: false;
}
/* background-shadow-color */
@property --px-bg-shadow-color-base {
  syntax: "<color>";
  initial-value: #adafbc;
  inherits: false;
}
@property --px-bg-shadow-color-primary {
  syntax: "<color>";
  initial-value: #006bb3;
  inherits: false;
}
@property --px-bg-shadow-color-success {
  syntax: "<color>";
  initial-value: #4aa52e;
  inherits: false;
}
@property --px-bg-shadow-color-warning {
  syntax: "<color>";
  initial-value: #e59400;
  inherits: false;
}
@property --px-bg-shadow-color-danger {
  syntax: "<color>";
  initial-value: #8c2022;
  inherits: false;
}
/* text-color */
@property --px-text-color-base {
  syntax: "<color>";
  initial-value: #212529;
  inherits: false;
}
@property --px-text-color-white {
  syntax: "<color>";
  initial-value: #fff;
  inherits: false;
}
@property --px-text-color-primary {
  syntax: "<color>";
  initial-value: #209cee;
  inherits: false;
}
@property --px-text-color-success {
  syntax: "<color>";
  initial-value: #92cc41;
  inherits: false;
}
@property --px-text-color-warning {
  syntax: "<color>";
  initial-value: #f7d51d;
  inherits: false;
}
@property --px-text-color-danger {
  syntax: "<color>";
  initial-value: #e76e55;
  inherits: false;
}
@property --px-text-color-disabled {
  syntax: "<color>";
  initial-value: #4d4d4d;
  inherits: false;
}
/* fill-hover-color */
@property --px-fill-hover-color-base {
  syntax: "<color>";
  initial-value: #e7e7e7;
  inherits: false;
}
@property --px-fill-hover-color-primary {
  syntax: "<color>";
  initial-value: #108de0;
  inherits: false;
}
@property --px-fill-hover-color-success {
  syntax: "<color>";
  initial-value: #76c442;
  inherits: false;
}
@property --px-fill-hover-color-warning {
  syntax: "<color>";
  initial-value: #f2c409;
  inherits: false;
}
@property --px-fill-hover-color-danger {
  syntax: "<color>";
  initial-value: #ce372b;
  inherits: false;
}
/* border-color */
@property --px-border-color-base {
  syntax: "<color>";
  initial-value: #212529;
  inherits: false;
}
@property --px-border-color-primary {
  syntax: "<color>";
  initial-value: #108de0;
  inherits: false;
}
@property --px-border-color-success {
  syntax: "<color>";
  initial-value: #76c442;
  inherits: false;
}
@property --px-border-color-warning {
  syntax: "<color>";
  initial-value: #f2c409;
  inherits: false;
}
@property --px-border-color-danger {
  syntax: "<color>";
  initial-value: #ce372b;
  inherits: false;
}
/* border */
@property --px-border-width-base {
  syntax: "<length>";
  initial-value: 4px;
  inherits: false;
}
/* cursor */
@property --px-cursor-pointer-src {
  syntax: "<url>";
  initial-value: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC');
  inherits: false;
}
@property --px-cursor-base-src {
  syntax: "<url>";
  initial-value: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=');
  inherits: false;
}
/* transition */
@property --px-transition-duration {
  syntax: "<time>";
  initial-value: 0.2s;
  inherits: false;
}
/* animation */
@property --px-animation-duration {
  syntax: "<time>";
  initial-value: 2s;
  inherits: false;
}