.px-button {
  --px-button-font-weight: var(--px-font-weight-base);
  --px-button-border-color: var(--px-border-color-base);
  --px-button-bg-color: var(--px-bg-color-base);
  --px-button-text-color: var(--px-text-color-base);
  --px-button-text-color-disabled: var(--px-text-color-disabled);
  --px-button-bg-color-disabled: var(--px-bg-color-disabled);
  --px-button-border-color-disabled: var(--px-border-color-disabled);
  --px-button-hover-bg-color: var(--px-fill-hover-color-base);
  --px-button-font-size: var(--px-font-size-base);
}

.px-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  cursor: var(--px-cursor-pointer-src) 14 0, pointer;
  color: var(--px-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: var(--px-transition-duration);
  font-weight: var(--px-button-font-weight);
  user-select: none;
  vertical-align: baseline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-width: var(--px-border-width-base);
  border-style: solid;
  border-color: var(--px-button-border-color);
  border-width: 0;
  height: 40px;
  padding: 15px;
  margin: 0 3px;
  font-size: var(--px-button-font-size);
  font-family: var(--px-font-family);
  /* CSS Houdini Paint */
  background-image: paint(pixelbox);
  --px-border: 3px;
  --px-border-t: 3px;
  --px-border-r: 3px;
  --px-border-b: 3px;
  --px-border-l: 3px;
  --px-border-radius: 0px;
  --px-border-color: var(--px-border-color-base);
  --px-bg-color: transparent;
  --px-bg-shadow-border: 3px;
  --px-bg-shadow-color: var(--px-bg-shadow-color-base);
  --px-bg-shadow-position: bottom-right;
}
/* button hover */
.px-button:hover {
  --px-bg-color: var(--px-fill-hover-color-base);
  --px-bg-shadow-border: 4px;
}
/* button active */
.px-button:active {
  --px-bg-shadow-position: top-left;
}
/* button type */
/* primary */
.px-button--base {
  --px-button-text-color: var(--px-text-color-base);
  --px-bg-color: var(--px-bg-color-base);
  --px-bg-shadow-color: var(--px-bg-shadow-color-base);
}
.px-button--base:hover {
  --px-bg-color: var(--px-fill-hover-color-base);
  --px-bg-shadow-border: 4px;
}
.px-button--primary {
  --px-button-text-color: var(--px-text-color-white);
  --px-bg-color: var(--px-bg-color-primary);
  --px-bg-shadow-color: var(--px-bg-shadow-color-primary);
}
.px-button--primary:hover {
  --px-bg-color: var(--px-fill-hover-color-primary);
  --px-bg-shadow-border: 4px;
}
/* success */
.px-button--success {
  --px-button-text-color: var(--px-text-color-white);
  --px-bg-color: var(--px-bg-color-success);
  --px-bg-shadow-color: var(--px-bg-shadow-color-success);
}
.px-button--success:hover {
  --px-bg-color: var(--px-fill-hover-color-success);
  --px-bg-shadow-border: 4px;
}
/* warning */
.px-button--warning {
  --px-button-text-color: var(--px-text-color-white);
  --px-bg-color: var(--px-bg-color-warning);
  --px-bg-shadow-color: var(--px-bg-shadow-color-warning);
}
.px-button--warning:hover {
  --px-bg-color: var(--px-fill-hover-color-warning);
  --px-bg-shadow-border: 4px;
}
/* danger */
.px-button--danger {
  --px-button-text-color: var(--px-text-color-white);
  --px-bg-color: var(--px-bg-color-danger);
  --px-bg-shadow-color: var(--px-bg-shadow-color-danger);
}
.px-button--danger:hover {
  --px-bg-color: var(--px-fill-hover-color-danger);
  --px-bg-shadow-border: 4px;
}
/* disabled */
.px-button.is-disabled {
  cursor: not-allowed;
  --px-button-text-color: var(--px-text-color-white);
  --px-bg-color: var(--px-bg-color-disabled);
  --px-bg-shadow-color: var(--px-bg-shadow-color-base);
  --px-border-color: var(--px-border-color-base);
}
.px-button.is-disabled:hover {
  cursor: not-allowed;
  --px-bg-shadow-border: 3px;
}
.px-button.is-disabled:active {
  --px-bg-shadow-position: bottom-right;
}
.px-button--primary.is-disabled {
  --px-bg-color: var(--px-light-color-primary-2);
  --px-bg-shadow-color: transparent
}
.px-button--success.is-disabled {
  --px-bg-color: var(--px-light-color-success-2);
  --px-bg-shadow-color: transparent
}
.px-button--warning.is-disabled {
  --px-bg-color: var(--px-light-color-warning-2);
  --px-bg-shadow-color: transparent
}
.px-button--danger.is-disabled {
  --px-bg-color: var(--px-light-color-danger-2);
  --px-bg-shadow-color: transparent
}
/* button size */
.px-button--small {
  height: 34px;
  padding: 12px;
  --px-button-font-size: var(--px-font-size-small);
}
.px-button--large {
  height: 46px;
  padding: 15px;
}
/* plain */
.px-button.is-plain {
  --px-button-text-color: var(--px-text-color-base);
  --px-bg-shadow-color: var(--px-bg-color-base);
  /* --px-bg-shadow-border: 0; */
  --px-bg-color: transparent;
  --px-border-color: var(--px-border-color-base);
}
.px-button--primary.is-plain {
  --px-button-text-color: var(--px-text-color-primary);
  --px-bg-shadow-color: var(--px-bg-color-primary);
  --px-bg-color: var(--px-light-color-primary);
  --px-border-color: var(--px-border-color-primary);
}
.px-button--primary.is-plain:hover {
  --px-button-text-color: var(--px-text-color-white);
  --px-bg-shadow-color: var(--px-bg-shadow-color-primary);
  --px-bg-color: var(--px-bg-color-primary);
  --px-border-color: var(--px-border-color-base);
}
.px-button--success.is-plain {
  --px-button-text-color: var(--px-text-color-success);
  --px-bg-shadow-color: var(--px-bg-color-success);
  --px-bg-color: var(--px-light-color-success);
  --px-border-color: var(--px-border-color-success);
}
.px-button--success.is-plain:hover {
  --px-button-text-color: var(--px-text-color-white);
  --px-bg-shadow-color: var(--px-bg-shadow-color-success);
  --px-bg-color: var(--px-bg-color-success);
  --px-border-color: var(--px-border-color-base);
}
.px-button--warning.is-plain {
  --px-button-text-color: var(--px-text-color-warning);
  --px-bg-shadow-color: var(--px-bg-color-warning);
  --px-bg-color: var(--px-light-color-warning);
  --px-border-color: var(--px-border-color-warning);
}
.px-button--warning.is-plain:hover {
  --px-button-text-color: var(--px-text-color-white);
  --px-bg-shadow-color: var(--px-bg-shadow-color-warning);
  --px-bg-color: var(--px-bg-color-warning);
  --px-border-color: var(--px-border-color-base);
}
.px-button--danger.is-plain {
  --px-button-text-color: var(--px-text-color-danger);
  --px-bg-shadow-color: var(--px-bg-color-danger);
  --px-bg-color: var(--px-light-color-danger);
  --px-border-color: var(--px-border-color-danger);
}
.px-button--danger.is-plain:hover {
  --px-button-text-color: var(--px-text-color-white);
  --px-bg-shadow-color: var(--px-bg-shadow-color-danger);
  --px-bg-color: var(--px-bg-color-danger);
  --px-border-color: var(--px-border-color-base);
}
/* round */
.px-button.is-round {
  --px-border-radius: 2px;
  --px-border-radius-lt: 2px;
  --px-border-radius-rt: 2px;
  --px-border-radius-lb: 2px;
  --px-border-radius-rb: 2px;
}
/* circle */
.px-button.is-circle {
  --px-border-radius: 3px;
  --px-border-radius-lt: 3px;
  --px-border-radius-rt: 3px;
  --px-border-radius-lb: 3px;
  --px-border-radius-rb: 3px;
}

/* ----------- button group ----------- */
.px-button-group {
  --px-button-group-border-color: var(--px-border-color-base);
}
.px-button-group {
  display: inline-block;
  vertical-align: middle;
}

.px-button-group::after {
  content: '';
  clear: both;
}
.px-button-group > :deep(.px-button) {
  float: left;
  position: relative;

  &:first-child{
    --px-border-radius-rt: 0;
    --px-border-radius-rb: 0;
    --px-border-color: var(--px-button-group-border-color);
    --px-border-r: 0;
    --px-button-group-first: 1;
    margin-right: 0;
  }
  &:last-child{
    --px-border-radius-lt: 0;
    --px-border-radius-lb: 0;
    --px-border-l: 0;
    --px-button-group-last: 1;
    margin-left: -3px;
  }
  &:not(:first-child):not(:last-child) {
    --px-border-radius: 0;
    --px-border-l: 0;
    --px-border-r: 0;
    --px-border-color: var(--px-button-group-border-color);
    --px-button-group-flag: 1;
    margin: 0;
    margin-left: -3px;
  }
}