.px-alert {
  --px-alert-bg-color: var(--px-color-white);
  --px-alert-border-color: var(--px-color-base);
  --px-alert-title-font-size: var(--px-font-size-base);
  --px-alert-title-font-size-with-desc: var(--px-font-size-standard);
  --px-alert-desc-font-size: var(--px-font-size-base);
  --px-alert-text-color: var(--px-color-base);
  --px-alert-close-icon-color: var(--px-alert-text-color);
  --px-alert-top-margin: 20px;
  --px-alert-icon-size: 18px;
  --px-alert-icon-margin: 8px;
  --px-alert-big-icon-size: 28px;
  --px-alert-big-icon-margin: 12px;
}
.px-alert {
  padding: 8px 16px;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity var(--px-transition-duration-400);
  margin-top: var(--px-alert-top-margin);
  color: var(--px-alert-text-color);
  /* css houdini paint */
  background-image: paint(pixelbox);
  --px-border: 4px;
  --px-border-t: 4px;
  --px-border-r: 4px;
  --px-border-b: 4px;
  --px-border-l: 4px;
  --px-border-radius: 2px;
  --px-border-radius-lt: 2px;
  --px-border-radius-rt: 2px;
  --px-border-radius-lb: 2px;
  --px-border-radius-rb: 2px;
  --px-bg-color: var(--px-alert-bg-color);
  --px-border-color: var(--px-alert-border-color);

  .px-alert__icon {
    color: var(--px-alert-text-color);
    font-size: var(--px-alert-icon-size) !important;
    width: var(--px-alert-icon-size);
    margin-right: var(--px-alert-icon-margin);
    &.big-icon{
      font-size: var(--px-alert-big-icon-size) !important;
      width: var(--px-alert-big-icon-size);
      margin-right: var(--px-alert-big-icon-margin);
    }
  }
  .px-alert__content {
    color:  var(--px-alert-text-color);
    vertical-align: text-top;
    .px-alert__title{
      font-size: var(--px-alert-title-font-size);
      line-height: 24px;
      &.with-desc {
        font-size: var(--px-alert-title-font-size-with-desc);
      }
    } 
    .px-alert__description{
      font-size: var(--px-alert-desc-font-size);
      margin: 0;
    }

    .px-alert__close {
      opacity: 1;
      position: absolute;
      top: 12px;
      right: 16px;
      line-height: 1.5;
      cursor: var(--px-cursor-pointer-src) 14 0, pointer;
      .px-alert__close-icon {
        color: var(--px-alert-close-icon-color);
      }
      :deep(.px-icon) {
        vertical-align: top;
      }
    }
  }

  &.text-center {
    justify-content: center;
    span,p {
      text-align: center;
    }
  }
}

.px-alert-fade-enter-from,
.px-alert-fade-leave-to {
  opacity: 0;
}

/* types */
.px-alert--success {
  &.px-alert--light {
    --px-alert-bg-color: var(--px-color-success-light-9);
    --px-alert-border-color: var(--px-color-success-light-5);
    --px-alert-text-color: var(--px-color-success);
  }
  &.px-alert--dark {
    --px-alert-bg-color: var(--px-color-success);
    --px-alert-border-color: var(--px-color-success-dark-1);
    --px-alert-text-color: var(--px-color-white);
  }
}
.px-alert--warning {
  &.px-alert--light {
    --px-alert-bg-color: var(--px-color-warning-light-9);
    --px-alert-border-color: var(--px-color-warning-light-5);
    --px-alert-text-color: var(--px-color-warning);
  }
  &.px-alert--dark {
    --px-alert-bg-color: var(--px-color-warning);
    --px-alert-border-color: var(--px-color-warning-dark-1);
    --px-alert-text-color: var(--px-color-white);
  }
}
.px-alert--danger {
  &.px-alert--light {
    --px-alert-bg-color: var(--px-color-danger-light-9);
    --px-alert-border-color: var(--px-color-danger-light-5);
    --px-alert-text-color: var(--px-color-danger);
  }
  &.px-alert--dark {
    --px-alert-bg-color: var(--px-color-danger);
    --px-alert-border-color: var(--px-color-danger-dark-1);
    --px-alert-text-color: var(--px-color-white);
  }
}
.px-alert--info {
  &.px-alert--light {
    --px-alert-bg-color: var(--px-color-info-light-9);
    --px-alert-border-color: var(--px-color-info-light-5);
    --px-alert-text-color: var(--px-color-info);
  }
  &.px-alert--dark {
    --px-alert-bg-color: var(--px-color-info);
    --px-alert-border-color: var(--px-color-info-dark-1);
    --px-alert-text-color: var(--px-color-white);
  }
}
.px-alert--sakura {
  &.px-alert--light {
    --px-alert-bg-color: var(--px-color-sakura-light-9);
    --px-alert-border-color: var(--px-color-sakura-light-5);
    --px-alert-text-color: var(--px-color-sakura);
  }
  &.px-alert--dark {
    --px-alert-bg-color: var(--px-color-sakura);
    --px-alert-border-color: var(--px-color-sakura-dark-1);
    --px-alert-text-color: var(--px-color-white);
  }
}

/* 定制背景模板1, 默认金属配色 */
.px-alert.is-iron {
  min-height: 60px;

  background-image: paint(pixelboard);
  --px-corner-size: 2;
  --px-block-size: 4;
  --px-alert-border-color: #000000;
  --px-board-color: #3A4567;
  --px-shadow-color: #252D46;
  --px-color-1: #8F9DB5;
  --px-color-2: #B4C0D2;
  --px-alert-padding: calc((var(--px-corner-size) + 2) * var(--px-block-size) * 1px);
  padding: var(--px-alert-padding) calc(var(--px-alert-padding) * 2);
  --px-alert-text-color: var(--px-color-1);

  .px-alert__close {
    top: 20px;
    right: 22px;
  }
}