.px-alert {
  --px-alert-bg-color: var(--px-bg-color-base);
  --px-alert-border-color: var(--px-border-color-base);
  --px-alert-title-font-size: var(--px-font-size-base);
  --px-alert-title-font-size-with-desc: var(--px-font-size-standard);
  --px-alert-desc-font-size: var(--px-font-size-base);
  --px-alert-text-color: var(--px-text-color-base);
  --px-alert-close-icon-color: var(--px-alert-text-color);
  --px-alert-top-margin: 20px;
  --px-alert-icon-size: 18px;
  --px-alert-icon-margin: 8px;
  --px-alert-big-icon-size: 28px;
  --px-alert-big-icon-margin: 12px;
}
.px-alert {
  padding: 8px 16px;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity var(--px-transition-duration-400);
  margin-top: var(--px-alert-top-margin);
  color: var(--px-alert-text-color);
  /* css houdini paint */
  background-image: paint(pixelbox);
  --px-border: 3px;
  --px-border-t: 3px;
  --px-border-r: 3px;
  --px-border-b: 3px;
  --px-border-l: 3px;
  --px-border-radius: 2px;
  --px-border-radius-lt: 2px;
  --px-border-radius-rt: 2px;
  --px-border-radius-lb: 2px;
  --px-border-radius-rb: 2px;
  --px-bg-color: var(--px-alert-bg-color);
  --px-border-color: var(--px-alert-border-color);

  .px-alert__icon {
    color: var(--px-alert-text-color);
    font-size: var(--px-alert-icon-size) !important;
    width: var(--px-alert-icon-size);
    margin-right: var(--px-alert-icon-margin);
    &.big-icon{
      font-size: var(--px-alert-big-icon-size) !important;
      width: var(--px-alert-big-icon-size);
      margin-right: var(--px-alert-big-icon-margin);
    }
  }
  .px-alert__content {
    color:  var(--px-alert-text-color);
    vertical-align: text-top;
    .px-alert__title{
      font-size: var(--px-alert-title-font-size);
      line-height: 24px;
      &.with-desc {
        font-size: var(--px-alert-title-font-size-with-desc);
      }
    } 
    .px-alert__description{
      font-size: var(--px-alert-desc-font-size);
      margin: 0;
    }

    .px-alert__close {
      opacity: 1;
      position: absolute;
      top: 12px;
      right: 15px;
      cursor: var(--px-cursor-pointer-src) 14 0, pointer;
      .px-alert__close-icon {
        color: var(--px-alert-close-icon-color);
      }
      :deep(.px-icon) {
        vertical-align: top;
      }
    }
  }

  &.text-center {
    justify-content: center;
    span,p {
      text-align: center;
    }
  }
}

.px-alert-fade-enter-from,
.px-alert-fade-leave-to {
  opacity: 0;
}

/* types */
.px-alert--success {
  &.px-alert--light {
    --px-alert-bg-color: var(--px-light-color-success);
    --px-alert-border-color: var(--px-light-color-success-2);
    --px-alert-text-color: var(--px-light-color-success-2);
  }
  &.px-alert--dark {
    --px-alert-bg-color: var(--px-bg-color-success);
    --px-alert-border-color: var(--px-border-color-success);
    --px-alert-text-color: var(--px-text-color-white);
  }
}
.px-alert--warning {
  &.px-alert--light {
    --px-alert-bg-color: var(--px-light-color-warning);
    --px-alert-border-color: var(--px-light-color-warning-2);
    --px-alert-text-color: var(--px-light-color-warning-2);
  }
  &.px-alert--dark {
    --px-alert-bg-color: var(--px-bg-color-warning);
    --px-alert-border-color: var(--px-border-color-warning);
    --px-alert-text-color: var(--px-text-color-white);
  }
}
.px-alert--danger {
  &.px-alert--light {
    --px-alert-bg-color: var(--px-light-color-danger);
    --px-alert-border-color: var(--px-light-color-danger-2);
    --px-alert-text-color: var(--px-light-color-danger-2);
  }
  &.px-alert--dark {
    --px-alert-bg-color: var(--px-bg-color-danger);
    --px-alert-border-color: var(--px-border-color-danger);
    --px-alert-text-color: var(--px-text-color-white);
  }
}
.px-alert--info {
  &.px-alert--light {
    --px-alert-bg-color: var(--px-light-color-info);
    --px-alert-border-color: var(--px-light-color-info-2);
    --px-alert-text-color: var(--px-light-color-info-2);
  }
  &.px-alert--dark {
    --px-alert-bg-color: var(--px-light-color-info-2);
    /* --px-alert-border-color: var(--px-border-color-info); */
    --px-alert-text-color: var(--px-text-color-white);
  }
}