@import './style/rainbow.css';
@import './style/custom-block.css';
@import './style/hidden.css';

@font-face {
  font-family: 'Zpix';
  src: url('/fonts/Zpix.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PS2P';
  src: url('/fonts/PS2P.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00FF;
}

:root {
  --vp-font-family-base: "Zpix";
  --vp-font-family-mono: "PS2P", "Zpix";
}

body {
  font-family: var(--vp-font-family-base);
  font-synthesis: weight;
  -webkit-font-smoothing: antialiased;
}

.VPHomeHero {
  font-family: var(--vp-font-family-mono);
}

.VPHomeHero .text {
  font-size: 2rem;
  margin-top: 0.5rem;
  line-height: 1.4;
}

.VPFeature .box .details {
  font-size: 14px;
}

pre, code {
  font-size: 0.75rem;
}
table pre,
table code,
.api-typing code {
  font-size: 0.75rem;
  font-family: 'Zpix';
}

.vitepress-demo-preview-preview {
  font-family: var(--vp-font-family-mono);
}

/* nav backdrop-filter 效果 */
.VPNav .VPNavBar.has-sidebar .content-body {
  background-image: radial-gradient(transparent 1px, #fff 1px);
  background-size: 4px 4px;
  background-color: transparent !important;
  backdrop-filter: saturate(50%) blur(4px);
}

/* sidebar scrollbar */
.VPSidebar {
  scrollbar-width: none;
}

.DocSearch-Button {
  background-color: transparent;
}

.VPNavBarTitle .title span {
  height: var(--vp-nav-logo-height);
  line-height: 1.4;
}

