.px-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  font-size: var(--px-font-size-standard);
  background: var(--px-color-white);
  /* css houdini paint */
  background-image: paint(pixelbox);
  --px-border: 3px;
  --px-border-t: 3px;
  --px-border-r: 3px;
  --px-border-b: 3px;
  --px-border-l: 3px;
  --px-border-radius: 0px;
  --px-border-radius-lt: 0px;
  --px-border-radius-rt: 0px;
  --px-border-radius-lb: 0px;
  --px-border-radius-rb: 0px;
  --px-bg-color: transparent;
  --px-border-color: var(--px-color-base);
  --px-bg-shadow-border: 3px;
  --px-bg-shadow-color: var(--px-color-info-dark-2);
  --px-bg-shadow-position: bottom-right;
}
/* card prepend part */
.px-card__icon {
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
/* hoverable prop */
.px-card--hover {
  cursor:
    var(--px-cursor-pointer-src) 14 0,
    pointer;
}
.px-card:hover.px-card--hover {
  --px-bg-color: var(--px-color-info-dark-1);
  --px-bg-shadow-border: 4px;
}
/* card append part */
.px-card__append {
  display: flex;
  align-items: center;
  cursor: default;
}
/* card main part */
.px-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}
.px-card__header,
.px-card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* card round */
.is-round {
  --px-border-radius: 2px;
  --px-border-radius-lt: 2px;
  --px-border-radius-rt: 2px;
  --px-border-radius-lb: 2px;
  --px-border-radius-rb: 2px;
}
/* card circle */
.is-circle {
  --px-border-radius: 3px;
  --px-border-radius-lt: 3px;
  --px-border-radius-rt: 3px;
  --px-border-radius-lb: 3px;
  --px-border-radius-rb: 3px;
}

/* card stamp */
.is-stamp {
  background: none;
  padding: 1.5rem;
  
  /* css houdini paintWorklet */
  background-image: paint(pixelboxStamp);
  --px-corner-size: 4;
  --px-main-color: var(--px-color-white);
  --px-block-size: 4;
  --px-shadow-color: #0000000d;
  --px-content-color: var(--px-color-white);
  --px-gap-block: 1;
}
