.px-badge {
  --px-badge-text-color: var(--px-color-white);
  --px-badge-bg-color: var(--px-color-danger);
  --px-badge-border-color: var(--px-color-base);
  --px-badge-bg-shadow-color: var(--px-color-danger-dark-2);
  --px-badge-font-size: 14px;
  --px-badge-size: 40px;
  --px-badge-padding: 15px;
  --px-badge-scale: 0.5;
}

.px-badge {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: fit-content;
}

.is-fixed {
  position: absolute;
  top: 0;
  right: calc(1px + var(--px-badge-size) / 2);
  transform: translateY(-50%) translate(85%) scale(var(--px-badge-scale));
}

.px-badge__content {
  display: inline-flex;
  color: var(--px-badge-text-color);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: var(--px-badge-font-size);
  height: var(--px-badge-size);
  padding: var(--px-badge-padding);
  line-height: 1;
  white-space: nowrap;
  z-index: 99;

  /* css houdini paint */
  background-image: paint(pixelbox);
  --px-border: 6px;
  --px-border-t: 6px;
  --px-border-r: 6px;
  --px-border-b: 6px;
  --px-border-l: 6px;
  --px-border-radius: 1px;
  --px-border-radius-lt: 1px;
  --px-border-radius-rt: 1px;
  --px-border-radius-lb: 1px;
  --px-border-radius-rb: 1px;
  --px-bg-color: var(--px-badge-bg-color);
  --px-border-color: var(--px-badge-border-color);
  --px-bg-shadow-border: 4px;
  --px-bg-shadow-color: var(--px-badge-bg-shadow-color);
  --px-bg-shadow-position: bottom-right;
  --px-button-single: 1;
}

.is-dot {
  aspect-ratio: 1 / 1;
  --px-badge-scale: 0.4;
}

.px-badge--primary {
  --px-badge-bg-color: var(--px-color-primary);
  --px-badge-bg-shadow-color: var(--px-color-primary-dark-2);
}

.px-badge--success {
  --px-badge-bg-color: var(--px-color-success);
  --px-badge-bg-shadow-color: var(--px-color-success-dark-2);
}

.px-badge--warning {
  --px-badge-bg-color: var(--px-color-warning);
  --px-badge-bg-shadow-color: var(--px-color-warning-dark-2);
}

.px-badge--danger {
  --px-badge-bg-color: var(--px-color-danger);
  --px-badge-bg-shadow-color: var(--px-color-danger-dark-2);
}

.px-badge--info {
  --px-badge-bg-color: var(--px-color-info);
  --px-badge-bg-shadow-color: var(--px-color-info-dark-2);
}

.px-badge__content.is-custom {
  --px-badge-bg-color: var(--px-custom-bg-color);
  --px-badge-bg-shadow-color: var(--px-custom-bg-shadow-color);
}
