.px-progress {
  --px-progress-text-size: 10px;
  --px-progress-text-color: var(--px-text-color-base);
  --px-progress-bar-height: 16px;
  --px-progress-bar-container-color: #ebeef5;
  --px-progress-bar-gap: 4px;
  --px-progress-bar-bg-color: var(--px-bg-color-primary);
  --px-progress-bar-bg-shadow-color: var(--px-bg-shadow-color-primary);
}

.px-progress {
  position: relative;
  line-height: 1;
  display: flex;
  align-items: center;
}

.px-progress-bar {
  flex-grow: 1;
  box-sizing: border-box;
  font-size: var(--px-progress-text-size);
}

.px-progress-bar__outer {
  height: var(--px-progress-bar-height);
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;

  /* css houdini paint */
  background-image: paint(pixelbox);
  --px-border: 2px;
  --px-border-t: 2px;
  --px-border-r: 2px;
  --px-border-b: 2px;
  --px-border-l: 2px;
  --px-border-radius: 0px;
  --px-border-radius-lt: 0px;
  --px-border-radius-rt: 0px;
  --px-border-radius-lb: 0px;
  --px-border-radius-rb: 0px;
  --px-bg-color: var(--px-progress-bar-container-color);
  --px-border-color: var(--px-border-color-base);
}

.px-progress-bar__inner {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 2 * var(--px-progress-bar-gap));
  line-height: 1;
  inset: var(--px-progress-bar-gap);
  white-space: nowrap;
  transition: width 0.6s ease;

  /* css houdini paint */
  background-image: paint(pixelbox);
  --px-border: 0px;
  --px-border-t: 0px;
  --px-border-r: 0px;
  --px-border-b: 0px;
  --px-border-l: 0px;
  --px-border-radius: 0px;
  --px-border-radius-lt: 0px;
  --px-border-radius-rt: 0px;
  --px-border-radius-lb: 0px;
  --px-border-radius-rb: 0px;
  --px-bg-color: var(--px-progress-bar-bg-color);
  --px-border-color: var(--px-progress-bar-bg-color);
}

.px-progress-bar__inner.is-striped {
  /* css houdini paint */
  background-image: paint(pixelstripe);
  --px-stripe-color-1: var(--px-progress-bar-bg-color);
  --px-stripe-color-2: var(--px-progress-bar-bg-shadow-color);
  --pixel-stripe-offset: 0;
  --px-stripe-ratio: 0.5;
}

.px-progress-bar__inner-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
  color: var(--px-text-color-white);
}

.px-progress__text {
  font-size: var(--px-progress-text-size);
  color: var(--px-progress-text-color);
  margin-left: 5px;
  min-width: 50px;
  line-height: 1;
}

.is-success {
  --px-progress-bar-bg-color: var(--px-bg-color-success);
  --px-progress-bar-bg-shadow-color: var(--px-bg-shadow-color-success);
}

.is-warning {
  --px-progress-bar-bg-color: var(--px-bg-color-warning);
  --px-progress-bar-bg-shadow-color: var(--px-bg-shadow-color-warning);
}

.is-danger {
  --px-progress-bar-bg-color: var(--px-bg-color-danger);
  --px-progress-bar-bg-shadow-color: var(--px-bg-shadow-color-danger);
}
